.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}

.totalWaves {
  margin-top: 20px;
  min-width: 100%;
}

.alchemyFaucetbackground1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 52%;
  background: linear-gradient(269.26deg, #c24fb6 6.59%, #3f51b8 94.04%);
  clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
  z-index: -1;
}

.alchemyFaucetbackground2 {
  position: absolute;
  top: 38%;
  width: 100%;
  height: 52%;
  background: radial-gradient(64.65% 109.1% at 55% -20.93%, #ff00e4 15.1%, #2c3259 100%);
  z-index: -2;
}

.dataContainer {
  font-size: 32px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
  color: #fff;
}

.WaveButton {
  cursor: pointer;
  background: #3f51b8;
  border: 0;
  font-size: 20px;
  padding: 3px;
  color: #fff;
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

.bio {
  text-align: center;
}

.wave {
  padding-top: 36px;
  padding-bottom: 16px;
  border-radius: 24px 24px 0px 0px;
  position: relative;
  background: hsla(0, 0%, 100%, .95);
  border: 1px solid #fff;
  box-sizing: border-box;
}

.input {
  height: 36px;
  font-size: 16px;
  width: 100%;
}